.omise-section .heading {background: url("images/omise_logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.omise-section .button-container {float: right;}
.omise-section .config-alt {background: url("images/omise_available_payment_methods.png") no-repeat scroll 0 0 / 100% auto; height: 58px; margin: 0.5rem 0 0; width: 230px;}
