<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <omise>
                <active>0</active>
                <sandbox_status>0</sandbox_status>
                <title>Credit / Debit Card</title>
                <model>Omise\Payment\Model\Omise</model>
            </omise>
        </payment>
    </default>
</config>
