<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tesco>
            <email>
                <send_email>send_email_email_template</send_email>
            </email>
        </tesco>
        <payment>

            <omise>
                <sandbox_status>0</sandbox_status>
                <model>OmiseAdapter</model>
                <generate_invoice_at_order_status>\Magento\Sales\Model\Order::STATE_PENDING_PAYMENT</generate_invoice_at_order_status>
            </omise>

            <omise_cc>
                <active>0</active>
                <title>Credit / Debit Card</title>
                <model>OmiseCcAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <payment_action>authorize</payment_action>
            </omise_cc>

            <omise_offsite_internetbanking>
                <active>0</active>
                <title>Internet Banking</title>
                <model>OmiseInternetbankingAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_internetbanking>

            <omise_offsite_alipay>
                <active>0</active>
                <title>Alipay</title>
                <model>OmiseAlipayAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_alipay>

            <omise_offline_paynow>
                <active>0</active>
                <title>PayNow QR Payment</title>
                <model>OmisePaynowAdapter</model>
                <is_gateway>1</is_gateway>
                <can_refund>1</can_refund>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>order</payment_action>
            </omise_offline_paynow>

            <omise_offline_promptpay>
                <active>0</active>
                <title>PromptPay</title>
                <model>OmisePromptpayAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>order</payment_action>
            </omise_offline_promptpay>

            <omise_offsite_pointsciti>
                <active>0</active>
                <title>Citi Pay with Points</title>
                <model>OmisePointscitiAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_pointsciti>

            <omise_offsite_installment>
                <active>0</active>
                <title>Installment</title>
                <model>OmiseInstallmentAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_installment>

            <omise_offsite_truemoney>
                <active>0</active>
                <title>True Money</title>
                <model>OmiseTruemoneyAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_truemoney>


            <omise_offsite_fpx>
                <active>0</active>
                <title>Online Banking (FPX)</title>
                <model>OmiseFPXAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>order</payment_action>
            </omise_offsite_fpx>

            <omise_offline_conveniencestore>
                <active>0</active>
                <title>Convenience Store</title>
                <model>OmiseConveniencestoreAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>order</payment_action>
            </omise_offline_conveniencestore>

            <omise_offline_tesco>
                <active>0</active>
                <title>Tesco Bill Payment</title>
                <model>OmiseTescoAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>0</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>order</payment_action>
            </omise_offline_tesco>

            <omise_offsite_alipaycn>
                <active>0</active>
                <title>Alipay (Alipay+ Partner)</title>
                <model>OmiseAlipayCnAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_alipaycn>

            <omise_offsite_alipayhk>
                <active>0</active>
                <title>AlipayHK (Alipay+ Partner)</title>
                <model>OmiseAlipayHkAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_alipayhk>

            <omise_offsite_dana>
                <active>0</active>
                <title>DANA (Alipay+ Partner)</title>
                <model>OmiseDanaAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_dana>

            <omise_offsite_gcash>
                <active>0</active>
                <title>GCash (Alipay+ Partner)</title>
                <model>OmiseGcashAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_gcash>

            <omise_offsite_kakaopay>
                <active>0</active>
                <title>Kakao Pay (Alipay+ Partner)</title>
                <model>OmiseKakaopayAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_kakaopay>

            <omise_offsite_touchngo>
                <active>0</active>
                <title>TNG eWallet (Alipay+ Partner)</title>
                <model>OmiseTouchngoAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_touchngo>

            <omise_offsite_mobilebanking>
                <active>0</active>
                <title>Mobile Banking</title>
                <model>OmiseMobilebankingAdapter</model>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_review_payment>1</can_review_payment>
                <payment_action>authorize_capture</payment_action>
            </omise_offsite_mobilebanking>

        </payment>
    </default>
</config>