<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <omise>
                <sandbox_status>0</sandbox_status>
                <model>OmiseAdapter</model>
            </omise>

            <omise_cc>
                <active>0</active>
                <title>Credit / Debit Card</title>
                <model>OmiseAdapter</model>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <payment_action>authorize</payment_action>
            </omise_cc>
        </payment>
    </default>
</config>
