<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omise\Payment\Api\Data\PaymentInterface" type="Omise\Payment\Model\Data\Payment" />
    <preference for="Omise\Payment\Api\PaymentInformationInterface" type="Omise\Payment\Model\PaymentInformation" />

    <!-- Internet Banking payment solution -->
    <virtualType name="OmiseInternetbankingAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Internetbanking::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMInternetbankingValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Internet Banking :: Value Handler Pool -->
    <virtualType name="OmiseAPMInternetbankingValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMInternetbankingConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMInternetbankingConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Internetbanking::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!-- Installment payment solution -->
    <virtualType name="OmiseInstallmentAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Installment::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMInstallmentValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- Installment :: Value Handler Pool -->
    <virtualType name="OmiseAPMInstallmentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMInstallmentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="OmiseAPMInstallmentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMInstallmentConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="OmiseAPMInstallmentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Installment::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Tesco payment solution-->
    <virtualType name="OmiseTescoAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Tesco::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMTescoValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Tesco :: Value Handler Pool -->
    <virtualType name="OmiseAPMTescoValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMTescoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMTescoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMTescoConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTescoConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Tesco::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Alipay payment solution-->
    <virtualType name="OmiseAlipayAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Alipay::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMAlipayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Alipay :: Value Handler Pool -->
    <virtualType name="OmiseAPMAlipayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMAlipayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMAlipayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMAlipayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMAlipayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Alipay::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!-- APM :: Command Pool -->
    <virtualType name="OmiseAPMCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">OmiseAPMInitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseAPMRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\OmiseAPMInitializeCommandResponseValidator</argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->

    <!-- APM Request -->
    <virtualType name="OmiseAPMRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="offsite" xsi:type="string">Omise\Payment\Gateway\Request\APMBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /APM Request -->

    <!-- APM Response Handlers -->
     <virtualType name="OmiseAPMResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="pendingPayment" xsi:type="string">Omise\Payment\Gateway\Response\PendingPaymentHandler</item>
                <item name="pendingInvoice" xsi:type="string">Omise\Payment\Gateway\Response\PendingInvoiceHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMAuthorizeResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="pendingPayment" xsi:type="string">Omise\Payment\Gateway\Response\PendingPaymentHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /APM Response Handlers-->

    <!-- Response Handler -->
    <virtualType name="OmiseResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Response Handler-->

    <!-- Credit Card payment solution -->
    <virtualType name="OmiseCcAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Cc::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseCCValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseCreditCardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Credit Card :: Command Pool -->
    <virtualType name="OmiseCreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">OmiseCreditCardInitializeCommand</item>
                <item name="authorize" xsi:type="string">OmiseAuthorizeCommand</item>
                <item name="authorize_3ds" xsi:type="string">OmiseAuthorizeThreeDSecureCommand</item>
                <item name="capture" xsi:type="string">OmiseCaptureCommand</item>
                <item name="capture_3ds" xsi:type="string">OmiseCaptureThreeDSecureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCreditCardInitializeCommand" type="Omise\Payment\Gateway\Command\CreditCardStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">OmiseCreditCardCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- /Credit Card :: Command Pool -->

    <!-- Credit Card :: Authorize with 3-D Secure payment -->
    <virtualType name="OmiseAuthorizeThreeDSecureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseAuthorizeThreeDSecureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMAuthorizeResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\ThreeDSecureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAuthorizeThreeDSecureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeBuilder</item>
                <item name="threedsecure" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardThreeDSecureBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Credit Card :: Authorize with 3-D Secure payment -->

    <!-- Credit Card :: Authorize and Capture with 3-D Secure payment -->
    <virtualType name="OmiseCaptureThreeDSecureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseCaptureThreeDSecureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\ThreeDSecureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCaptureThreeDSecureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeCaptureBuilder</item>
                <item name="threedsecure" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardThreeDSecureBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->
    
    <!-- Credit Card :: Value Handler Pool -->
    <virtualType name="OmiseCCValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseCCConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCCConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseCCConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCCConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Cc::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Validator Pool-->
    <virtualType name="OmiseValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <!-- OmiseAuthorize Command -->
    <virtualType name="OmiseAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCharge</argument>
            <argument name="handler" xsi:type="object">OmiseResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\OmiseAuthorizeCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <!-- OmiseAuthorize Command: Request -->
    <virtualType name="OmiseAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- OmiseCapture Command -->
    <virtualType name="OmiseCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCharge</argument>
            <argument name="handler" xsi:type="object">OmiseResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\OmiseCaptureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <!-- OmiseCapture Command: Request -->
    <virtualType name="OmiseCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeCaptureBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCharge" type="Omise\Payment\Gateway\Http\Client\Payment"></virtualType>

    <virtualType name="OmiseAdapter" type="OmiseCcAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Config::CODE</argument>
        </arguments>
    </virtualType>
</config>
