<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omise\Payment\Api\Data\PaymentInterface" type="Omise\Payment\Model\Data\Payment" />
    <preference for="Omise\Payment\Api\PaymentInformationInterface" type="Omise\Payment\Model\PaymentInformation" />

    <!-- Internet Banking payment solution -->
    <virtualType name="OmiseInternetbankingAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Internetbanking::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMInternetbankingValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMInternetbankingValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Internet Banking :: Value Handler Pool -->
    <virtualType name="OmiseAPMInternetbankingValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMInternetbankingConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMInternetbankingCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMInternetbankingConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMInternetbankingConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInternetbankingConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Internetbanking::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!-- Installment payment solution -->
    <virtualType name="OmiseInstallmentAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Installment::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMInstallmentValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMInstallmentValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- Installment :: Value Handler Pool -->
    <virtualType name="OmiseAPMInstallmentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMInstallmentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInstallmentValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMInstallmentCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInstallmentCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMInstallmentConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInstallmentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMInstallmentConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInstallmentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Installment::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!-- Truemoney payment solution -->
    <virtualType name="OmiseTruemoneyAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Truemoney::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMTruemoneyValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMTruemoneyValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Truemoney :: Value Handler Pool -->
    <virtualType name="OmiseAPMTruemoneyValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMTruemoneyConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTruemoneyValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMTruemoneyCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTruemoneyCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMTruemoneyConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTruemoneyConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMTruemoneyConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTruemoneyConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Truemoney::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->


    <!-- FPX payment solution -->
    <virtualType name="OmiseFPXAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Fpx::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMFpxValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMFpxValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- FPX :: Value Handler Pool -->
    <virtualType name="OmiseAPMFpxValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMFpxConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMFpxValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMFpxCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMFpxCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMFpxConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMFpxConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMFpxConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMFpxConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Fpx::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Tesco payment solution-->
    <virtualType name="OmiseTescoAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Tesco::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMTescoValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMTescoValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Tesco :: Value Handler Pool -->
    <virtualType name="OmiseAPMTescoValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMTescoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

     <virtualType name="OmiseAPMTescoValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMTescoCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTescoCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMTescoConfig</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMTescoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMTescoConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMTescoConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Tesco::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Alipay payment solution-->
    <virtualType name="OmiseAlipayAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Alipay::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMAlipayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMAlipayValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Alipay :: Value Handler Pool -->
    <virtualType name="OmiseAPMAlipayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMAlipayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMAlipayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMAlipayCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

     <virtualType name="OmiseAPMAlipayCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMAlipayConfig</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMAlipayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMAlipayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMAlipayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Alipay::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Citi Points payment solution-->
    <virtualType name="OmisePointscitiAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Pointsciti::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMPointscitiValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMPointscitiValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Citi Points :: Value Handler Pool -->
    <virtualType name="OmiseAPMPointscitiValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMPointscitiConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMPointscitiValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMPointscitiCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPointscitiCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMPointscitiConfig</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMPointscitiConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMPointscitiConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPointscitiConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Pointsciti::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Pay Now payment solution-->
    <virtualType name="OmisePaynowAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Paynow::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMPaynowValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMPaynowValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Pay Now :: Value Handler Pool -->
    <virtualType name="OmiseAPMPaynowValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMPaynowConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPaynowValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMPaynowCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPaynowCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMPaynowConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPaynowConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMPaynowConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPaynowConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Paynow::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!--  Promptpay payment solution-->
    <virtualType name="OmisePromptpayAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Promptpay::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMPromptpayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMPromptpayValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Promptpay :: Value Handler Pool -->
    <virtualType name="OmiseAPMPromptpayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMPromptpayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPromptpayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMPromptpayCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPromptpayCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMPromptpayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPromptpayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMPromptpayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMPromptpayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Promptpay::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Promptpay ::Value Handler Pool-->

    <!--  Convenience Store payment solution-->
    <virtualType name="OmiseConveniencestoreAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Conveniencestore::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMConveniencestoreValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMConveniencestoreValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Convenience Store :: Value Handler Pool -->
    <virtualType name="OmiseAPMConveniencestoreValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseAPMConveniencestoreConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMConveniencestoreValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMConveniencestoreCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMConveniencestoreCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseAPMConveniencestoreConfig</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OmiseAPMConveniencestoreConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseAPMConveniencestoreConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMConveniencestoreConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Conveniencestore::CODE</argument>
        </arguments>
    </virtualType>
    <!-- /Value Handler -->

    <!-- APM :: Command Pool -->
    <virtualType name="OmiseAPMCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">OmiseAPMInitializeCommand</item>
                <item name="refund" xsi:type="string">OmiseRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseAPMRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseAPMCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\OmiseAPMInitializeCommandResponseValidator</argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->

    <!-- APM Request -->
    <virtualType name="OmiseAPMRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="offsite" xsi:type="string">Omise\Payment\Gateway\Request\APMBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /APM Request -->

    <!-- APM Response Handlers -->
     <virtualType name="OmiseAPMResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="pendingPayment" xsi:type="string">Omise\Payment\Gateway\Response\PendingPaymentHandler</item>
                <item name="pendingInvoice" xsi:type="string">Omise\Payment\Gateway\Response\PendingInvoiceHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMAuthorizeResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="pendingPayment" xsi:type="string">Omise\Payment\Gateway\Response\PendingPaymentHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /APM Response Handlers-->

    <!-- Response Handler -->
    <virtualType name="OmiseResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="paymentDetails" xsi:type="string">Omise\Payment\Gateway\Response\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Response Handler-->

    <!-- Credit Card payment solution -->
    <virtualType name="OmiseCcAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Cc::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseCCValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMCCValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseCreditCardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Credit Card :: Command Pool -->
    <virtualType name="OmiseCreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">OmiseCreditCardInitializeCommand</item>
                <item name="charge_authorize" xsi:type="string">OmiseChargeAuthorizeCommand</item>
                <item name="capture" xsi:type="string">OmiseCaptureCommand</item>
                <item name="charge_capture" xsi:type="string">OmiseChargeCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCreditCardInitializeCommand" type="Omise\Payment\Gateway\Command\CreditCardStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">OmiseCreditCardCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- /Credit Card :: Command Pool -->

    <!-- Refund Command -->
    <virtualType name="OmiseRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseRefundBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Omise\Payment\Gateway\Http\Client\PaymentRefund</argument>
            <argument name="handler" xsi:type="object">Omise\Payment\Gateway\Response\RefundHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\RefundResponseValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="OmiseRefundBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Omise\Payment\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Refund Command -->

    <!-- Credit Card :: Authorize with 3-D Secure payment -->
    <virtualType name="OmiseChargeAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseChargeAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCCCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMAuthorizeResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\ThreeDSecureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseChargeAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeBuilder</item>
                <item name="threedsecure" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardThreeDSecureBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Credit Card :: Authorize with 3-D Secure payment -->

    <!-- Credit Card :: Authorize and Capture with 3-D Secure payment -->
    <virtualType name="OmiseChargeCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseChargeCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCCCharge</argument>
            <argument name="handler" xsi:type="object">OmiseAPMResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\ThreeDSecureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseChargeCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeCaptureBuilder</item>
                <item name="threedsecure" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardThreeDSecureBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Command Pool -->
    
    <!-- Credit Card :: Value Handler Pool -->
    <virtualType name="OmiseCCValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OmiseCCConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMCCValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseCCConfig</argument>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">OmiseAPMCCCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMCCCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OmiseCCConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCCConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OmiseCCConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCCConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Omise\Payment\Model\Config\Cc::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Omise\Payment\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">omise_error_mapping.xml</argument>
        </arguments>
    </virtualType>

    <virtualType name="Omise\Payment\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">Omise\Payment\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">omise_error_mapper</argument>
        </arguments>
    </virtualType>

    <!-- OmiseCapture Command -->
    <virtualType name="OmiseCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OmiseCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Omise\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">OmiseCCCharge</argument>
            <argument name="handler" xsi:type="object">OmiseResponseHandler</argument>
            <argument name="validator" xsi:type="object">Omise\Payment\Gateway\Validator\OmiseCaptureCommandResponseValidator</argument>
        </arguments>
    </virtualType>

    <!-- OmiseCapture Command: Request -->
    <virtualType name="OmiseCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Omise\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="creditcard" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardBuilder</item>
                <item name="capture" xsi:type="string">Omise\Payment\Gateway\Request\CreditCardAuthorizeCaptureBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseAPMCharge" type="Omise\Payment\Gateway\Http\Client\APMPayment"></virtualType>

    <virtualType name="OmiseCCCharge" type="Omise\Payment\Gateway\Http\Client\CCPayment"></virtualType>

    <virtualType name="OmiseAdapter" type="OmiseCcAdapter">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Config::CODE</argument>
        </arguments>
    </virtualType>
</config>
