<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_omise_cc">
        <observer name="omise_data_assign" instance="Omise\Payment\Observer\CreditCardDataObserver" />
    </event>

    <event name="payment_method_assign_data_omise_offsite_internetbanking">
        <observer name="omise_data_assign" instance="Omise\Payment\Observer\InternetbankingDataAssignObserver" />
    </event>

    <event name="payment_method_assign_data_omise_offsite_installment">
        <observer name="omise_data_assign_installment" instance="Omise\Payment\Observer\InstallmentDataAssignObserver" />
    </event>

    <event name="sales_order_place_after">
        <observer name="omise_end_order" instance="Omise\Payment\Observer\TescoPaymentObserver" />
    </event>
</config>
