.banks-list {  }
.banks-list > li {
    border-bottom: 1px solid #eee;
    padding: 4px 0 12px;
    position: relative;
}

.banks-list > li > input {
    position: absolute;
    top: 18px;
    left: 14px;
}

.banks-list > li > label {
    width: 100%;
    margin-left: 36px;
    cursor: pointer;
}

.banks-list .omise-logo-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    border-radius: 2px;
    vertical-align: top;
}

.banks-list .omise-logo-wrapper img {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.banks-list .omise-banking-text-wrapper {
    display: inline-block;
}

.banks-list .secondary-text {
    color: #aaa;
    font-size: 80%;
}

/** SCB **/
.banks-list .scb {
    background: #4e2e7f;
}
.banks-list img.scb {
    background: url('../images/scb.svg') #4e2e7f;
}

/** KTB **/
.banks-list .ktb {
    background: #1ba5e1;
}
.banks-list img.ktb {
    background: url('../images/ktb.svg') #1ba5e1;
}

/** BAY **/
.banks-list .bay {
    background: #fec43b;
}
.banks-list img.bay {
    background: url('../images/bay.svg') #fec43b;
}

/** BBL **/
.banks-list .bbl {
    background: #1e4598;
}
.banks-list img.bbl {
    background: url('../images/bbl.svg') #1e4598;
}
