<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Omise Co., Ltd.
 */
-->
<config>
    <!--
    /**
     * Module defination
     */
    -->
    <modules>
        <Omise_Gateway>
            <version>1.8.0.0</version>
        </Omise_Gateway>
    </modules>

    <!--
    /**
     * Global variables
     */
    -->
    <global>
        <models>
            <omise_gateway>
                <class>Omise_Gateway_Model</class>
                <resourceModel>omise_gateway_resource</resourceModel>
            </omise_gateway>
            <omise_gateway_resource>
                <class>Omise_Gateway_Model_Resource</class>
                <entities>
                    <omise>
                        <table>omise_gateway</table>
                    </omise>
                </entities>
            </omise_gateway_resource>
        </models>

        <resources>
            <omise_gateway_setup>
                <setup>
                    <module>Omise_Gateway</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </omise_gateway_setup>
        </resources>

        <blocks>
            <omise_gateway_adminhtml>
                <class>Omise_Gateway_Block_Adminhtml</class>
            </omise_gateway_adminhtml>

            <omise_gateway>
                <class>Omise_Gateway_Block</class>
            </omise_gateway>
        </blocks>

        <helpers>
            <omise_gateway>
                <class>Omise_Gateway_Helper</class>
            </omise_gateway>
        </helpers>
    </global>

    <!--
    /**
     * Admin configuration
     */
    -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Omise_Gateway before="Mage_Adminhtml">Omise_Gateway_Adminhtml</Omise_Gateway>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <omise_gateway>
                <use>standard</use>
                <args>
                    <module>Omise_Gateway</module>
                    <frontName>omise</frontName>
                </args>
            </omise_gateway>
        </routers>
    </frontend>

    <!--
    /**
     * Payment Method configuration for front-end
     */
    -->
    <default>
        <payment>
            <omise_gateway>
                <active>1</active>
                <order_status>1</order_status>
                <payment_action>authorize</payment_action>
                <model>omise_gateway/paymentMethod</model>
                <cctypes>VI,MC</cctypes>
                <title>Credit Card (Powered by Omise)</title>
            </omise_gateway>

            <omise_offsite_internet_banking>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <model>omise_gateway/OffsiteInternetBankingPayment</model>
                <title>Internet Banking</title>
            </omise_offsite_internet_banking>
        </payment>
    </default>
</config>