<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <omise_payment translate="label" module="payment">
                    <label>Omise Payment Gateway</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <frontend_class>complex</frontend_class>
                    <fields>
                        <webhook translate="label,comment">
                            <label>Webhook endpoint</label>
                            <comment><![CDATA[To enable the <a href="https://www.omise.co/api-webhooks">WebHooks</a> feature, you must copy the above URL to setup an endpoint at the <a href="https://dashboard.omise.co/test/webhooks/edit"><strong>Omise dashboard</strong></a> <em>(HTTPS only)</em>.]]></comment>
                            <sort_order>680</sort_order>
                            <frontend_type>label</frontend_type>
                            <frontend_model>omise_gateway/adminhtml_system_config_form_field_webhook</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </webhook>

                        <omise_gateway type="group">
                            <label>Credit Card</label>
                            <comment>Powerful payment features that allow you to easily and securely accept credit/debit card payments on your store.</comment>
                            <sort_order>690</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>

                                <payment_action translate="label">
                                    <label>Payment action</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>omise_gateway/config_var_paymentaction</source_model>
                                    <sort_order>2</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </payment_action>

                                <advance_settings translate="label">
                                    <label>Advanced Settings</label>
                                    <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                                    <sort_order>3</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </advance_settings>

                                <threedsecure translate="label">
                                    <label>3-D Secure support</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>4</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </threedsecure>

                                <order_status translate="label">
                                    <label>New order status</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
                                    <sort_order>5</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </order_status>

                                <cctypes translate="label">
                                    <label>Card type support</label>
                                    <comment><![CDATA[This only controls the credit card type option on the checkout page. It is not related to card processing on Omise payment gateway.<br/><br/>Feel free to contact us at support@omise.co if you cannot process a payment with those card types.]]></comment>
                                    <frontend_type>multiselect</frontend_type>
                                    <source_model>omise_gateway/config_var_cctype</source_model>
                                    <sort_order>6</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </cctypes>

                                <osc_header translate="label">
                                    <label>One Step Checkout</label>
                                    <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                                    <sort_order>7</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </osc_header>

                                <osc_support translate="label">
                                    <label>One step checkout support</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>8</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </osc_support>
                            </fields>
                        </omise_gateway>

                        <omise_offsite_internet_banking type="group">
                            <label>Internet Banking</label>
                            <comment>Enables bank customers to easily conduct financial transactions through a bank-operated website (only available in Thailand).</comment>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                            </fields>
                        </omise_offsite_internet_banking>

                        <omise_offsite_citipoints type="group">
                            <label>Citi Pay with Points</label>
                            <comment>Accepting payments through Citi Reward Points.</comment>
                            <sort_order>709</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                            </fields>
                        </omise_offsite_citipoints>

                        <omise_offsite_alipay type="group">
                            <label>Alipay</label>
                            <comment>Accepting payments through Alipay - one of China's most popular online payment methods - gives you access to over 450 million registered Chinese consumers (only available in Thailand).</comment>
                            <sort_order>710</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                            </fields>
                        </omise_offsite_alipay>

                        <omise_offsite_installment type="group">
                            <label>Installment Payments</label>
                            <comment>Enables customers to pay in installments.</comment>
                            <sort_order>720</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                            </fields>
                        </omise_offsite_installment>

                        <omise_offsite_truemoney type="group">
                            <label>True Money</label>
                            <comment>Enables customers to pay using True Money method.</comment>
                            <sort_order>730</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>omise_gateway/adminhtml_system_config_fieldset_payment</frontend_model>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                            </fields>
                        </omise_offsite_truemoney>
			
                    </fields>
                </omise_payment>
            </groups>
        </payment>
    </sections>
</config>
