/**
 * Dashboard page
 */
.ostyle-info-box                                { padding: 10px; color: #666; text-shadow: 1px 1px #fff; }
.ostyle-info-box dl dt,
.ostyle-info-box dl dd                          { display: inline; }
.ostyle-info-box dl dt                          { display: inline; font-weight: 700; margin-left: 40px; }
.ostyle-info-box dl dt:first-child              { margin-left: 0; }
.ostyle-info-box dl dd                          { margin-left: 10px; }
.ostyle-info-box .left,
.ostyle-info-box .right                         { float: left; width: 50%; }
.ostyle-info-box .text-right                    { text-align: right; }
.ostyle-info-box .text-left                     { text-align: left; }
.ostyle-info-box .text-center                   { text-align: center; }

.omise-account-info                             { font-size: 1.1em; border-bottom: 1px solid #5A5959; border-radius: 2px 2px 0 0; }

.omise-balance                                  { background: #2d2d2d; color: #D8D8D8; padding: 12px 0; border-top: 1px solid #E5E5E5; border-bottom: 2px solid #1d1d1d; }
.omise-balance .left,
.omise-balance .right                           { float: left; width: 50%; text-align: center; line-height: 1.65; }
.omise-balance .omise-number                    { font-size: 2.5em; color: #fff; }

.omise-clearfix:before,
.omise-clearfix:after                           { display: table; content: " "; }
.omise-clearfix:after                           { clear: both; }

.testmode-label                                 { color: #d1002a; }
.livemode-label                                 { color: #7CA91F; }

.success-label                                  { color: #7CA91F; }
.warning-label                                  { color: #F2BC3D; }
.primary-label                                  { color: #24AAF2; }
.error-label                                    { color: #d1002a; }

input.transfer-amount.input-text.no-changes     { width: 30%; }
.pagination 									{ float: right;}


.popup-background								{background: rgba(0,0,0,0.6); position:fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 10000000000; display: none}
.popup-content									{background: white; margin: auto; border-radius: 10px; width: 400px; min-height: 400px; margin-top: -20px; padding-bottom: 20px}
.custom-template								{display: none;}

.refund-view1									{position: relative; top: 20px}
.refund-view1 ul li								{background: #ddd; width: 360px; min-height: 50px; padding: 10px; margin: 10px; cursor: pointer; }
.refund-view1 button							{position:relative; top: 0px; left: 0px; background: #555; padding: 10px; margin: 0 10px 10px 10px; font-size: 20px; color: orange; font-weight: 100; border: none;}
.refund-view1 .remark							{margin: 0 10px 10px 10px; font-size: 14px; color: #333;}
.refund-view1 button:active						{top: 1px; left: 1px}
.refund-view1 ul li .refund-radio				{position:absolute; width: 20px; height: 20px; border-radius: 50px; background-color: white;  border: 2px white solid;}
.refund-view1 ul li.selected .refund-radio		{background-color: orange; }
.refund-view1 .refund-option					{margin-left: 35px; margin-top: 2px}
.refund-view1 .refund-option .title				{font-size: 20px; font-weight: 100; color: orange;}
.refund-view1 .refund-option .description		{font-size: 14px; color: white;}
.refund-view1 .refund-option #patial-refund		{padding: 5px; width: 250px; font-size: 14px; color: orange;margin: 5px 0 0 0}

.refund-view2									{position: relative; top: 20px}
.refund-view2 ul li								{background: #ddd; width: 360px; min-height: 50px; padding: 10px; margin: 10px; }
.refund-view2 button							{position:relative; top: 0px; left: 0px; background: #555; padding: 10px; margin: 0 10px 10px 10px; font-size: 20px; color: orange; font-weight: 100; border: none;}
.refund-view2 .remark							{margin: 0 10px 10px 10px; font-size: 14px; color: #333;}
.refund-view2 button:active						{top: 1px; left: 1px}
.refund-view2 .refund-option					{margin-left: 10px; margin-top: 2px}
.refund-view2 .refund-option .title				{font-size: 20px; font-weight: 100; color: orange;}
.refund-view2 .refund-option .description		{font-size: 14px; color: white;}
.refund-view2 .refund-option #patial-refund		{padding: 5px; width: 250px; font-size: 14px; color: orange;margin: 5px 0 0 0}
.refund-view2 .refund-header					{margin-left: 10px; margin-top: 10px}
.refund-view2 .refund-header .title				{font-size: 25px; font-weight: 100; color: orange;}
.refund-view2 .refund-header .description		{font-size: 14px; color: #999; margin-top: 5px}
