<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, visible: isActive()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {
               'id': getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible(),
               enable: isActive() && !orderValueTooLow()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <div data-bind="visible: isSandboxOn()" class="page messages">
            <div role="alert" class="messages">
                <div class="message-warning warning message">
                    <span data-bind="i18n: 'Test mode'"></span> (<a target="_blank"
                        href="https://www.omise.co/what-are-test-keys-and-live-keys"><span
                            data-bind="i18n: 'more info'"></span></a>)
                </div>
            </div>
        </div>
        <div data-bind="visible: isActive() && orderValueTooLow()" class="page messages">
            <div role="alert" class="messages">
                <div class="message-warning warning message">
                    <div data-bind="text: getMinimumOrderText()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: omiseInstallmentError() -->
        <div class="omise-card-error-container">
            <div aria-atomic="true" role="alert" class="message message-error error">
                <div data-ui-id="checkout-cart-validationmessages-message-error" data-bind="text: omiseInstallmentError()"></div>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: providers().length -->
        <!-- <div class="omise-banking-fee-warn" data-bind="i18n: 'Choose your installment terms'"></div>
        <form class="form" data-bind="attr: {
              id: getCode() + 'Form',
              }">

            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode(), id: 'payment_form_' + getCode()}">
                <ul class="form-list" data-bind="foreach: providers">
                    <li class="items" data-bind="visible: active">
                        <input type="radio" name="offsite" data-bind=" 
                                        attr: { 
                                            id: $parent.getCode() + '_' + code 
                                            , value: id 
                                        },
                                        checked: $parent.omiseOffsite,
                                        click: function(data, event) { 
                                            $parent.resetTerms();
                                            return true;
                                        };" />
                        <label data-bind="
                                attr:{
                                    'for': 'omise_offsite_installment_'+logo
                                }">
                            <div class="omise-logo-wrapper" data-bind="css: logo">
                                <img data-bind="css: logo" />
                            </div>
                            <div class="omise-banking-text-wrapper">
                                <span class="title" data-bind="i18n: title"></span>
                            </div>
                        </label>
                        <select style="margin-top:10px" data-bind="options: $parent.getInstallmentTerms(code),
                                                      optionsText: function (item) {
                                                          return item.label
                                                      },
                                                      optionsValue: function (item) {
                                                        return item.key
                                                      },
                                                      valueAllowUnset:true,
                                                      value: $parent.getObservableTerm(id),
                                                      visible: $parent.omiseOffsite() === id,
                                                      optionsCaption: $parent.getCaptionText()"></select>
                    </li>
                </ul>
            </fieldset>
        </form> -->
        <input type="hidden"
                   name="payment[omise_token]"
                   data-bind="attr: {
                   'id': getCode() + 'InstallmentToken',
                   'data-container': getCode() + '-cc-token',
                   },
                   value: omiseInstallmentToken"/>
        <input type="hidden"
                   name="payment[omise_source]"
                   data-bind="attr: {
                   'id': getCode() + 'InstallmentSource',
                   'data-container': getCode() + '-cc-source',
                   },
                   value: omiseInstallmentSource"/>
        <div class="omise-installment-form" data-bind="omiseInstallmentForm: true"></div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" disabled="disabled" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
        <!-- /ko -->
        
        <!-- ko ifnot: providers().length -->
            <div class="error-msg">
                <!-- ko i18n: 'This payment method is not currently available, please try again later or use a different payment method.'--><!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
</div>
