<div class="payment-method"
     data-bind="css: {'_active': (getCode() == isChecked())}, visible: isActive()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
               data-bind="attr: {
               'id': getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible(),
               enable: isActive()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <div data-bind="visible: isSandboxOn()" class="page messages">
            <div role="alert" class="messages">
                <div class="message-warning warning message">
                    <span data-bind="i18n: 'Test mode'"></span> (<a target="_blank" href="https://www.omise.co/what-are-test-keys-and-live-keys"><span data-bind="i18n: 'more info'"></span></a>)
                </div>
            </div>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: banks().length -->
        <form class="form" data-bind="attr: {
              id: getCode() + 'Form',
              }">

            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode(), id: 'payment_form_' + getCode()}">
                <div class="field required">
                    <label for="omise_offsite_fpx_banks" class="label">
                        <span class="title" data-bind="i18n: 'Select Bank'"></span>
                    </label>
                    <script>
                        ko.components.register('banks-select-option', {
                            template: '<span data-bind="text: name"></span>'
                        });
                    </script>
                    <div class="select-list-box">
                        <select
                                name="fpx_selected_bank"
                                style="margin-bottom:10px"
                                data-bind="foreach: banks,
                                    value: selectedFpxBank,
                                    attr:{class: selectedFpxBank}">

                            <option data-bind="attr:{value: code,
                            disabled: !active}, html: $parent.bankLabel(name, active)">
                            </option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                        disabled="disabled"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked() && selectedFpxBank)">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko ifnot: banks().length -->
        <div class="error-msg">
            This payment method is not currently available, please try again later or use a different payment method.
        </div>
        <!-- /ko -->

    </div>
</div>
