<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {
               'id': getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form"
              data-bind="attr: {
              id: getCode() + 'Form',
              }">
            <ul class="form-list">
                <!-- SCB -->
                <li class="items">
                    <input id="internet_banking_scb" type="radio" name="payment[offsite]" value="internet_banking_scb" />
                    <label for="internet_banking_scb">
                        <div class="omise-logo-wrapper scb">
                            <img class="scb" />
                        </div>
                        <div class="omise-banking-text-wrapper">
                            <span class="title">Siam Commercial Bank</span><br/>
                            <span class="rate secondary-text">Fee: 15 THB (same zone), 30 THB (out zone)</span>
                        </div>
                    </label>
                </li>

                <!-- KTB -->
                <li class="items">
                    <input id="internet_banking_ktb" type="radio" name="payment[offsite]" value="internet_banking_ktb" />
                    <label for="internet_banking_ktb">
                        <div class="omise-logo-wrapper ktb">
                            <img class="ktb" />
                        </div>
                        <div class="omise-banking-text-wrapper">
                            <span class="title">Krungthai Bank</span><br/>
                            <span class="rate secondary-text">Fee: 15 THB (same zone), 15 THB (out zone)</span>
                        </div>
                    </label>
                </li>

                <!-- BAY -->
                <li class="items">
                    <input id="internet_banking_bay" type="radio" name="payment[offsite]" value="internet_banking_bay" />
                    <label for="internet_banking_bay">
                        <div class="omise-logo-wrapper bay">
                            <img class="bay" />
                        </div>
                        <div class="omise-banking-text-wrapper">
                            <span class="title">Krungsri Bank</span><br/>
                            <span class="rate secondary-text">Fee: 15 THB (same zone), 15 THB (out zone)</span>
                        </div>
                    </label>
                </li>

                <!-- BBL -->
                <li class="items">
                    <input id="internet_banking_bbl" type="radio" name="payment[offsite]" value="internet_banking_bbl" />
                    <label for="internet_banking_bbl">
                        <div class="omise-logo-wrapper bbl">
                            <img class="bbl" />
                        </div>
                        <div class="omise-banking-text-wrapper">
                            <span class="title">Bangkok Bank</span><br/>
                            <span class="rate secondary-text">Fee: 10 THB (same zone), 20 THB (out zone)</span>
                        </div>
                    </label>
                </li>
            </ul>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        disabled="disabled"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
