<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="omise" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Omise Payment Gateway</label>
                <fieldset_css>omise-section</fieldset_css>
                <frontend_model>Omise\Payment\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <attribute type="displayIn">recommended_solutions</attribute>
                <field id="basic_settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic Setting</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="sandbox_status" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling sandbox means that all your transactions will be in TEST mode.</comment>
                </field>
                <field id="test_public_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public key for test</label>
                    <comment>The "Test" mode public key can be found in Omise Dashboard.</comment>
                </field>
                <field id="test_secret_key" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret key for test</label>
                    <comment>The "Test" mode secret key can be found in Omise Dashboard.</comment>
                </field>
                <field id="live_public_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public key for live</label>
                    <comment>The "Live" mode public key can be found in Omise Dashboard.</comment>
                </field>
                <field id="live_secret_key" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret key for live</label>
                    <comment>The "Live" mode secret key can be found in Omise Dashboard.</comment>
                </field>
                <field id="webhook" translate="label" type="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook endpoint</label>
                    <comment><![CDATA[To enable <a href="https://www.omise.co/api-webhooks">WebHooks</a> feature, you must copy the above url to setup an endpoint at <a href="https://dashboard.omise.co/test/webhooks/edit"><strong>Omise dashboard</strong></a> <em>(HTTPS only)</em>.]]></comment>
                    <frontend_model>Omise\Payment\Block\Adminhtml\System\Config\Form\Field\Webhook</frontend_model>
                </field>
                <field id="enable_cron_autoexpirysync" translate="label comment" type="select" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cron Autosync Order Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling cron allows Magento to check orders with expired charge status and mark them as canceled.</comment>
                </field>

                <group id="omise_cc" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Credit Card Payment</label>
                    <comment>Powerful payment features that allows you to easily and securely accept credit/debit card payments on your store.</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Omise Credit Card Solution.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_cc/active</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment Action</label>
                        <source_model>Omise\Payment\Model\Source\PaymentAction</source_model>
                        <config_path>payment/omise_cc/payment_action</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_cc/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="181" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_cc/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_cc/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_internetbanking" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Internet Banking Payment</label>
                    <comment>Enable customers of a bank to easily conduct financial transactions through a bank-operated website (only available in Thailand).</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Omise Internet Banking payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_internetbanking/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_internetbanking/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_internetbanking/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="152" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_internetbanking/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_alipay" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Alipay</label>
                    <comment>Enable customers to pay using Alipay method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Alipay payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_alipay/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_alipay/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="181" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_pointsciti" translate="label" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Citi Pay with Points</label>
                    <comment>Enable customers to pay using Citi Pay with Points payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Citi Pay with Points Payment Solution.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_pointsciti/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_pointsciti/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_pointsciti/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_pointsciti/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offline_tesco" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Tesco Lotus Bill Payment</label>
                    <comment>Enable customers to pay for products in Tesco Lotus Stores.</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Tesco Bill payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offline_tesco/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offline_tesco/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="241" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offline_tesco/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="242" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offline_tesco/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_installment" translate="label" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Installment Payment</label>
                    <comment>Enable customers to pay using Installment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Installment payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_installment/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_installment/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="271" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_installment/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="272" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_installment/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_truemoney" translate="label" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable TrueMoney Wallet Payment</label>
                    <comment>Enable customers to pay using TrueMoney wallet payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable TrueMoney wallet payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_truemoney/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_truemoney/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="301" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_truemoney/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="302" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_truemoney/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offline_conveniencestore" translate="label" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Convenience Store Payment</label>
                    <comment>Enable customers to easily pay using Convenience Store method (only available in Japan).</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Convenience Store Payment Solution.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offline_conveniencestore/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offline_conveniencestore/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="331" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offline_conveniencestore/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="332" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offline_conveniencestore/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offline_paynow" translate="label" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable PayNow QR Payment</label>
                    <comment>Enable customers to pay using PayNow QR payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable PayNow QR payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offline_paynow/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offline_paynow/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="361" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="362" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offline_promptpay" translate="label" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable PromptPay QR Payment</label>
                    <comment>Enable customers to pay using PromptPay QR payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable PromptPay payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offline_promptpay/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offline_promptpay/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="391" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offline_promptpay/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="392" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offline_promptpay/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_fpx" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable FPX Payment</label>
                    <comment>Enable customers to pay via FPX</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable FPX payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_fpx/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_fpx/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="421" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_fpx/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="422" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_fpx/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_alipaycn" translate="label" sortOrder="430" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Alipay (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using Alipay payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="431" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Alipay payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_alipaycn/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="432" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_alipaycn/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="433" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_alipaycn/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="434" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_alipaycn/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_alipayhk" translate="label" sortOrder="440" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable AlipayHK (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using AlipayHK payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="441" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable AlipayHK payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_alipayhk/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="442" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_alipayhk/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="443" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_alipayhk/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="444" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_alipayhk/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_dana" translate="label" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable DANA (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using DANA payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="451" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable DANA payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_dana/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="452" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_dana/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="453" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_dana/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="454" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_dana/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_gcash" translate="label" sortOrder="460" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GCash (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using GCash payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="461" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable GCash payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_gcash/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="462" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_gcash/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="463" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_gcash/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="464" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_gcash/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_kakaopay" translate="label" sortOrder="470" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Kakao Pay (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using Kakao Pay payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="471" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable Kakao Pay payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_kakaopay/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="472" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_kakaopay/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="473" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_kakaopay/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="474" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_kakaopay/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
                <group id="omise_offsite_touchngo" translate="label" sortOrder="480" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable TNG eWallet (Alipay+ Partner) Payment</label>
                    <comment>Enable customers to pay using TNG eWallet payment method</comment>
                    <field id="active" translate="label comment" type="select" sortOrder="481" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable/Disable</label>
                        <comment>Enable TNG eWallet payment method.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/omise_offsite_touchngo/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="482" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>This controls the title which the user sees during checkout.</comment>
                        <config_path>payment/omise_offsite_touchngo/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label comment" type="select" sortOrder="483" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Countries</label>
                        <config_path>payment/omise_offsite_touchngo/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <comment>If not set to all, guest customers will not have a billing country and may not be able to checkout.</comment>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="484" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific countries</label>
                        <config_path>payment/omise_offsite_touchngo/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
