<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="omise" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Omise</label>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Omise Payment Module.</comment>
                </field>
                <field id="sandbox_status" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling sandbox means that all your transactions will be in TEST mode.</comment>
                </field>
                <field id="test_public_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public key for test</label>
                    <comment>The "Test" mode public key can be found in Omise Dashboard.</comment>
                </field>
                <field id="test_secret_key" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret key for test</label>
                    <comment>The "Test" mode secret key can be found in Omise Dashboard.</comment>
                </field>
                <field id="live_public_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public key for live</label>
                    <comment>The "Live" mode public key can be found in Omise Dashboard.</comment>
                </field>
                <field id="live_secret_key" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret key for live</label>
                    <comment>The "Live" mode secret key can be found in Omise Dashboard.</comment>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>Magento\Authorizenet\Model\Source\PaymentAction</source_model>
                </field>
                <field id="advance_settings" translate="label" type="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Advance Settings</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                    <comment>This controls the title which the user sees during checkout.</comment>
                </field>
                <field id="3ds" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>3-D Secure support</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable 3-D Secure for the account. (Japan-based accounts are not eligible for the service.).</comment>
                </field>
            </group>
        </section>
    </system>
</config>
