.omise-banking-fee-warn {
    padding: 1rem 0;
}

#omise_offsite_internetbankingForm {  }
#omise_offsite_internetbankingForm li.items {
    border-bottom: 1px solid #eee;
    padding: 12px 0 12px;
    position: relative;
}

#omise_offsite_internetbankingForm li > input {
    position: absolute;
    top: 26px;
    left: 14px;
}

#omise_offsite_internetbankingForm li > label {
    width: 100%;
    margin-left: 36px;
    cursor: pointer;
}

#omise_offsite_internetbankingForm .omise-logo-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    border-radius: 2px;
    vertical-align: top;
}

#omise_offsite_internetbankingForm .omise-logo-wrapper img {
    width: 30px;
    height: 30px;
    display: block;
}

#omise_offsite_internetbankingForm .omise-banking-text-wrapper {
    display: inline-block;
    line-height: 38px;
}

/** SCB **/
#omise_offsite_internetbankingForm .scb {
    background: #4e2e7f;
}
#omise_offsite_internetbankingForm img.scb {
    background: url('../images/scb.svg') #4e2e7f;
}

/** KTB **/
#omise_offsite_internetbankingForm .ktb {
    background: #1ba5e1;
}
#omise_offsite_internetbankingForm img.ktb {
    background: url('../images/ktb.svg') #1ba5e1;
}

/** BAY **/
#omise_offsite_internetbankingForm .bay {
    background: #fec43b;
}
#omise_offsite_internetbankingForm img.bay {
    background: url('../images/bay.svg') #fec43b;
}

/** BBL **/
#omise_offsite_internetbankingForm .bbl {
    background: #1e4598;
}
#omise_offsite_internetbankingForm img.bbl {
    background: url('../images/bbl.svg') #1e4598;
}