.omise-banking-fee-warn {
    padding: 1rem 0;
}

#omise_offsite_internetbankingForm li.items, #omise_offsite_installmentForm li.items {
    border-bottom: 1px solid #eee;
    padding: 12px 0 12px;
    position: relative;
}

#omise_offsite_internetbankingForm li > input, #omise_offsite_installmentForm li > input {
    position: absolute;
    top: 26px;
    left: 14px;
}

#omise_offsite_internetbankingForm li > label, #omise_offsite_installmentForm li > label {
    width: 100%;
    margin-left: 36px;
    cursor: pointer;
}

#omise_offsite_internetbankingForm .omise-logo-wrapper, #omise_offsite_installmentForm .omise-logo-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    border-radius: 2px;
    vertical-align: top;
}

#omise_offsite_internetbankingForm .omise-logo-wrapper img, #omise_offsite_installmentForm .omise-logo-wrapper img {
    width: 30px;
    height: 30px;
    display: block;
}

#omise_offsite_internetbankingForm .omise-banking-text-wrapper, #omise_offsite_installmentForm .omise-banking-text-wrapper {
    display: inline-block;
    line-height: 38px;
}

/** SCB **/
#omise_offsite_internetbankingForm .scb, #omise_offsite_installmentForm .scb {
    background: #4e2e7f;
}

#omise_offsite_internetbankingForm img.scb, #omise_offsite_installmentForm img.scb {
    background: url('../images/scb.svg') #4e2e7f;
}

/** KTB **/
#omise_offsite_internetbankingForm .ktb, #omise_offsite_installmentForm .ktb {
    background: #1ba5e1;
}
#omise_offsite_internetbankingForm img.ktb, #omise_offsite_installmentForm img.ktb {
    background: url('../images/ktb.svg') #1ba5e1;
}

/** BAY **/
#omise_offsite_internetbankingForm .bay, #omise_offsite_installmentForm .bay {
    background: #fec43b;
}
#omise_offsite_internetbankingForm img.bay, #omise_offsite_installmentForm img.bay {
    background: url('../images/bay.svg') #fec43b;
}

/** BBL **/
#omise_offsite_internetbankingForm .bbl, #omise_offsite_installmentForm .bbl {
    background: #1e4598;
}
#omise_offsite_internetbankingForm img.bbl, #omise_offsite_installmentForm img.bbl {
    background: url('../images/bbl.svg') #1e4598;
}

/** KTC **/
#omise_offsite_internetbankingForm .ktc, #omise_offsite_installmentForm .ktc {
    background: rgb(247, 226, 226);
}
#omise_offsite_internetbankingForm img.ktc, #omise_offsite_installmentForm img.ktc {
    background: url('../images/ktc.svg') rgb(247, 226, 226);
}

/** First Choice **/
#omise_offsite_internetbankingForm .fc, #omise_offsite_installmentForm .fc {
    background: #007bc4;
}
#omise_offsite_internetbankingForm img.fc, #omise_offsite_installmentForm img.fc {
    background: url('../images/fc.svg') #007bc4;
}

/** KBank **/
#omise_offsite_internetbankingForm .kbank, #omise_offsite_installmentForm .kbank {
    background: rgb(247, 226, 226);
}
#omise_offsite_internetbankingForm img.kbank, #omise_offsite_installmentForm img.kbank {
    background: url('../images/kbank.svg')rgb(247, 226, 226);
}