<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Omise Co., Ltd.
 */
-->
<config>
  <modules>
    <Omise_Gateway>
      <version>0.0.0.1</version>
    </Omise_Gateway>
  </modules>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Omise_Gateway before="Mage_Adminhtml">Omise_Gateway_Adminhtml</Omise_Gateway>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>