.banks-list {  }
.banks-list > li {
    border-bottom: 1px solid #eee;
    padding: 4px 0 12px;
    position: relative;
}

.banks-list > li > input {
    position: absolute;
    top: 18px;
    left: 14px;
}

.banks-list > li > label {
    width: 100%;
    margin-left: 36px;
    cursor: pointer;
}

.banks-list .omise-logo-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    border-radius: 2px;
    vertical-align: top;
    background: transparent;
}

.banks-list .omise-logo-wrapper > div {
    width: 30px;
    height: 30px;
    display: block;
    background: url('../images/bank.svg') transparent;
}

.banks-list .omise-banking-text-wrapper {
    display: inline-block;
}

.banks-list .secondary-text {
    color: #aaa;
    font-size: 80%;
}

/** SCB **/
.banks-list .scb {
    background: #4e2e7f;
}
.banks-list .omise-logo-wrapper > div.logo-scb {
    background: url('../images/scb.svg') #4e2e7f;
}

/** KTB **/
.banks-list .ktb {
    background: #1ba5e1;
}
.banks-list .omise-logo-wrapper > div.logo-ktb {
    background: url('../images/ktb.svg') #1ba5e1;
}

/** BAY **/
.banks-list .bay {
    background: #fec43b;
}
.banks-list .omise-logo-wrapper > div.logo-bay {
    background: url('../images/bay.svg') #fec43b;
}

/** FirstChoice **/
.banks-list .first_choice {
    background: #007bc4;
}
.banks-list .omise-logo-wrapper > div.logo-first_choice {
    background: url('../images/firstchoice.svg') #007bc4;
}

/** BBL **/
.banks-list .bbl {
    background: #1e4598;
}
.banks-list .omise-logo-wrapper > div.logo-bbl {
    background: url('../images/bbl.svg') #1e4598;
}

/** KBank **/
.banks-list .kbank {
    background: #ffffff;
}
.banks-list .omise-logo-wrapper > div.logo-kbank {
    background: url('../images/kbank.svg') #ffffff;
}

/** KTC **/
.banks-list .ktc {
    background: #ffffff;
}
.banks-list .omise-logo-wrapper > div.logo-ktc {
    background: url('../images/ktc.svg') #ffffff;
}
